/*!
 * bootScore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

/******************
 INCLUDES
******************/

@import "dpsg_typography";
@import "dpsg_icons";
@import "dpsg_colors";
@import "dpsg_classes";
@import "dpsg_header";
@import "dpsg_content";

/******************
 ADJUSTMENTS
******************/

// REMOVE MARGIN FROM CONTENT DIV
#content.site-content.mt-5.py-5,
#content.site-content.mt-4.py-5 {
  margin-top: 0 !important;
  padding-top: var(--bs-gutter-x, 0.75rem) !important;
}

// REMOVE DROPDOWN TOGGLE IN MAIN NAV
@include media-breakpoint-up(lg) {
  #nav-main .dropdown-toggle:after {
    display: none;
  }
}

// HIDE THE EXCERPT AND MORTE BUTTON IN HEROES
.heroes .swiper-slide .card-text { display: none; }

// MAKE HEROES BEAUTIFUL ON EVERY SCREEN SIZE 
.heroes {
  aspect-ratio: 4/3;
  max-width: 100%;
  border-radius: .375rem;
}
@include media-breakpoint-up(md) {
  .heroes {
    aspect-ratio: 16/9;
  }
}
@include media-breakpoint-up(lg) {
  .heroes {
    aspect-ratio: 16/7;
  }
}
.heroes .swiper-hero-img {
    object-fit: cover;
    height: 100%;
}

// MAKE CARD IMG-TOP ALL EVEN
.card-img-top {
  aspect-ratio: 16/9;
  object-fit: cover;
}

@include media-breakpoint-down(lg) {
  div.card div.col-lg-6.col-xl-5.col-xxl-4 img.card-img-lg-start.wp-post-image {
    aspect-ratio: 16/7;
    object-fit: cover;
  }
}

@include media-breakpoint-up(lg) {
  .post-thumbnail .wp-post-image {
    aspect-ratio: 16/5;
    object-fit: cover;
  }
}




// DO NOT LET FULL-WIDTH IMAGES ESCALATE
.featured-full-width-img {
  background-position: center center;
  height: 15rem !important;
}
@include media-breakpoint-up(md) {
  .featured-full-width-img {
    height: 30rem !important;
  }
}

// REMOVE MARGIN FROM WP-BLOCK_BS-CARDS -> PRÜFEN WOFÜR NOCHMAL ???
.card .wp-block-column {
  margin: 0 !important;
  padding: 1rem !important;
  }

// SET AND OVERWRITE BACKGROUND COLORS
#sidebar,
#masthead .head-main .container,
#page > #content.container,
#page > #content #main > .container {
  background-color: var(--bs-white) !important;
  }

// SPIELPLATZ: HANDY HINTERGRUND COVER SOLLEN TOLL AUSSEHEN UND SCOLLEN !!!

//&.has-parallax { @supports (-webkit-overflow-scrolling: touch) { background-attachment: scroll; } }
@supports (-webkit-overflow-scrolling: touch) { 	body * { 		background-attachment: scroll; 	} }



@include media-breakpoint-between(md,xl){
  #secondary.widget-area .btn {
    font-size: $input-btn-font-size-sm;
  }
}