/*!
 * bootScore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

/******************
 INCLUDES
******************/

@import "dpsg_typography";
@import "dpsg_icons";
@import "dpsg_colors";
@import "dpsg_classes";
@import "dpsg_header";
@import "dpsg_content";
@import "dpsg_images";

/******************
 ADJUSTMENTS
******************/

// REMOVE MARGIN FROM CONTENT DIV
#content.site-content.mt-5.py-5,
#content.site-content.mt-4.py-5 {
  margin-top: 0 !important;
  padding-top: var(--bs-gutter-x, 0.75rem) !important;
}

// REMOVE DROPDOWN TOGGLE IN MAIN NAV
@include media-breakpoint-up(lg) {
  #nav-main .dropdown-toggle:after {
    display: none;
  }
}

// REMOVE MARGIN FROM WP-BLOCK_BS-CARDS -> PRÜFEN WOFÜR NOCHMAL ???
.card .wp-block-column {
  margin: 0 !important;
  padding: 1rem !important;
  }

// SET AND OVERWRITE BACKGROUND COLORS
#sidebar,
#masthead .head-main .container,
#page > #content.container,
#page > #content #main > .container {
  background-color: var(--bs-white) !important;
  }

// SMALL SIDEBAR = SMALLER BUTTONS
@include media-breakpoint-between(md,xl){
  #secondary.widget-area .btn {
    font-size: $input-btn-font-size-sm;
  }
  }

// SPIELPLATZ: HANDY HINTERGRUND COVER SOLLEN TOLL AUSSEHEN UND SCOLLEN !!!

//&.has-parallax { @supports (-webkit-overflow-scrolling: touch) { background-attachment: scroll; } }
//@supports (-webkit-overflow-scrolling: touch) { 	body * { 		background-attachment: scroll; 	} }


//wp-block-cover__image-background.has-parallax

.wp-block-cover__image-background.has-parallax{

  //position: fixed;
}

div[class*="wp-block-"] {
  //position:sticky;
  //z-index:-10;
  //height: 100vh;
  //width: 100vw;
  //background-color:#fff;
}