//
//  Function to create an optimized svg url
//  Version: 1.0.6
@function svg-url($svg){
    //
    //  Add missing namespace
    //
    @if not str-index($svg,xmlns) {
        $svg: str-replace($svg, '<svg','<svg xmlns="http://www.w3.org/2000/svg"');   
    }        
    //    
    //  Chunk up string in order to avoid 
    //  "stack level too deep" error
    //     
    $encoded:'';
    $slice: 2000;
    $index: 0;
    $loops: ceil(str-length($svg)/$slice);
    @for $i from 1 through $loops {
        $chunk: str-slice($svg, $index, $index + $slice - 1); 
        //
        //   Encode 
        //
        $chunk: str-replace($chunk, '"', '\'');
        $chunk: str-replace($chunk, '%', '%25');
        $chunk: str-replace($chunk, '#', '%23');       
        $chunk: str-replace($chunk, '{', '%7B');
        $chunk: str-replace($chunk, '}', '%7D');         
        $chunk: str-replace($chunk, '<', '%3C');
        $chunk: str-replace($chunk, '>', '%3E');
        
        // 
        //    The maybe list 
        //
        //    Keep size and compile time down
        //    ... only add on documented fail 
        // 
        //  $chunk: str-replace($chunk, '&', '%26');        
        //  $chunk: str-replace($chunk, '|', '%7C');
        //  $chunk: str-replace($chunk, '[', '%5B');
        //  $chunk: str-replace($chunk, ']', '%5D');
        //  $chunk: str-replace($chunk, '^', '%5E');
        //  $chunk: str-replace($chunk, '`', '%60');
        //  $chunk: str-replace($chunk, ';', '%3B');
        //  $chunk: str-replace($chunk, '?', '%3F');
        //  $chunk: str-replace($chunk, ':', '%3A');
        //  $chunk: str-replace($chunk, '@', '%40');
        //  $chunk: str-replace($chunk, '=', '%3D');      
        
        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice; 
    }
    @return url("data:image/svg+xml,#{$encoded}");   
}
        
//  Background svg mixin          
@mixin background-svg($svg){
    background-image: svg-url($svg);        
}        
            
//  Helper function to replace characters in a string
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search); 
    @return if($index, 
        str-slice($string, 1, $index - 1) + $replace + 
        str-replace(str-slice($string, $index + 
        str-length($search)), $search, $replace), 
        $string); 
}  

@function svg-width($ratio) {
  @return 1em*$ratio;
}




/*** ICONS ***/


.dpsgi {
	display: inline-block;
	line-height: $line-height-base;
	background: currentColor;
	vertical-align: -1em/10;
	height: 1em;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
	
	&-arrow-right {
		width: svg-width(45/32.52);
		mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="45" height="32.514"><path data-name="Pfad 166" d="M30.539 7.392Z"/><path data-name="Pfad 167" d="M33.034.999a.45.45 0 0 0-.042-.03l.007.006c.012.012.023.017.035.024Z"/><path data-name="Pfad 168" d="M44.541 13.957a2.9 2.9 0 0 0-.791-1.75 4.073 4.073 0 0 1-.628-.719c-.013-.02-.015-.026-.032-.049-.1-.138-.2-.276-.3-.413a13.481 13.481 0 0 0-1.65-1.977c-.605-.557-1.266-1.049-1.914-1.555l-.025-.018a3.754 3.754 0 0 1-.342-.285c-.275-.24-.539-.492-.8-.744-1.06-1.012-2.08-2.073-3.194-3.026a16.641 16.641 0 0 0-1.815-1.453c.1.081.153.14-.036-.022l-.031-.026c-.027-.018-.053-.043-.08-.061.021.014.044.031.067.049-.111-.1-.223-.189-.332-.287a7.82 7.82 0 0 1-.737-.762 2.82 2.82 0 0 0-4.051 0 3.09 3.09 0 0 0 0 4.176 10.088 10.088 0 0 0 1.423 1.339c.4.323.806.64 1.213.955.1.079.2.169.311.242l-.244-.165c.076.051.2.142.262.191 1.112.953 2.132 2.014 3.194 3.028.6.569 1.222 1.091 1.868 1.6a7.755 7.755 0 0 0-1-.073c-1.427 0-2.792.494-4.2.581-3.178.193-6.452-.118-9.64-.077-1.555.018-3.052.219-4.594.378a23.8 23.8 0 0 1-4.492-.41c-3.006-.256-6.15.026-9.17.026-3.688 0-3.694 5.907 0 5.907 2.909 0 5.965-.305 8.859-.053a30.774 30.774 0 0 0 4.513.48c1.639-.1 3.232-.4 4.884-.421 3.1-.039 6.213.112 9.315.077 1.44-.016 2.808-.484 4.227-.565a6.924 6.924 0 0 1 1.289.067c-.8.941-1.618 1.859-2.416 2.806a32.742 32.742 0 0 1-3.146 3.54 27.246 27.246 0 0 0-3.3 2.995 3.088 3.088 0 0 0 0 4.178 2.839 2.839 0 0 0 4.051 0 27.26 27.26 0 0 1 3.3-3 32.518 32.518 0 0 0 3.146-3.538c1.049-1.242 2.145-2.418 3.165-3.692 1.07-1.335 2.332-2.518 3.518-3.741a3.117 3.117 0 0 0 .355-3.733Z"/></svg>');
	}
	
	&-arrow-link {
		width: svg-width(23.132/16.22);
		mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="23.132" height="16.222"><path data-name="Pfad 372" d="m0 10.446.662.465s-.055 2.258 0 2.058 7.66-2.788 15.43-3.054c0 0-2.48 2.813-1.984 3.067l.5.253.276 2.988a2.42 2.42 0 0 1 .661-.332 4.828 4.828 0 0 0 1.32-1.394v-.6l.33.465s2.7-3.32 2.866-3.452.552-1 .717-1a3.212 3.212 0 0 0 1.212-.93c.11-.265 2.37-2.124.221-4.316 0 0-1.047 0-1.212-.331s-.5-.93-.5-.93-.606.4-.882 0a7.164 7.164 0 0 1-.5-.863S14.763.216 14.488.416s-.827.93-.937.531.056.066-.11-.4.276-.266-.165-.465a2.106 2.106 0 0 0-1.157 0 11.035 11.035 0 0 1 1.1 1.593 6.427 6.427 0 0 0-.055 1.129.787.787 0 0 0 .441.664c.22.133.551.2.771.332s.772.4.772.4.772.465.937.6a7.862 7.862 0 0 0 .937.465S11.793 3.807 0 10.446Z"/></svg>');
	}
	
	&-arrow-right-round {
		width: svg-width(33.14/30);
		mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="33.14" height="30"><path data-name="Pfad 291" d="M32.55 11.605a21.48 21.48 0 0 0-2.254-5.46 14.6 14.6 0 0 0-3.5-4.142c-2.869-2.082-6.461-2.14-9.87-1.911a1.235 1.235 0 0 0-.755.307 22.95 22.95 0 0 0-5.909.928A15.788 15.788 0 0 0 1.95 6.899C.042 9.638-.162 13.592.077 16.81a11.955 11.955 0 0 0 4.5 8.824 22.265 22.265 0 0 0 4.745 2.715 17.061 17.061 0 0 0 4.917 1.448 19.473 19.473 0 0 0 10.225-1.222 14.841 14.841 0 0 0 7.387-6.8 14.692 14.692 0 0 0 .699-10.17Zm-2.212 7.055a11.407 11.407 0 0 1-5.42 6.856 15.342 15.342 0 0 1-8.326 2.018 19.473 19.473 0 0 1-8.318-2.411 9.984 9.984 0 0 1-5.488-6.689 16.794 16.794 0 0 1 .521-8.82c1.126-2.864 4.455-4.9 7.28-5.785a19.8 19.8 0 0 1 5.043-1 34.719 34.719 0 0 1 5.573.3.975.975 0 0 0 1-.437 6.8 6.8 0 0 1 2.356.757c2.264 1.308 3.961 4.141 4.845 6.519a14.925 14.925 0 0 1 .934 8.691Z"/><path data-name="Pfad 292" d="M21.843 13.922c-.831-.83-1.72-1.6-2.551-2.428-1.744-1.741-3.484-3.484-5.124-5.325-.878-.985-2.32.466-1.447 1.447 1.61 1.806 3.321 3.512 5.026 5.227.831.835 1.727 1.6 2.557 2.433a10.956 10.956 0 0 0 1.287 1.105c.018.014.035.029.053.042-.534.255-1.088.474-1.625.687-.943.375-1.868.794-2.79 1.218s-1.844.781-2.759 1.189c-.482.216-.92.494-1.389.733a2.577 2.577 0 0 0-.965.584 1.057 1.057 0 0 0 0 1.447 1.029 1.029 0 0 0 1.447 0q-.17.06.075-.033a2.509 2.509 0 0 0 .477-.232c.233-.124.454-.27.688-.394a16.667 16.667 0 0 1 1.534-.682c1.1-.449 2.165-.967 3.251-1.447 1.058-.466 2.151-.843 3.185-1.365.829-.419 2.138-1.108 1.374-2.229-.546-.803-1.612-1.287-2.304-1.977Z"/></svg>');
		}
	
	&-arrow-down {
		width: svg-width(25.35/24.92);
		mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.35 24.92"><path d="M21.68 7c-.63 2.95-3.24 5.3-5.05 7.56-.1.12-.17.25-.26.38a29.1 29.1 0 0 1 .16-4.85 27.3 27.3 0 0 0 .1-3.94V2.08a1.88 1.88 0 0 0-3.75 0v4.06a27.23 27.23 0 0 1-.05 3.5 63.12 63.12 0 0 0-.16 8.25 1.77 1.77 0 0 0 .55 1.32l-.89 1.19-1.19-1.51c-.39-.44-.59-.74-.88-1.11a1.71 1.71 0 0 0 .55-1.35c0-2.5-.29-5-.48-7.47l-.28-3.55C10 4.71 9.9 4 9.77 3.32a5.88 5.88 0 0 1-.2-1.44 1.88 1.88 0 1 0-3.76 0 24.77 24.77 0 0 0 .49 3.53l.28 3.55.34 4.44q-.37-.6-.78-1.2a25.53 25.53 0 0 0-2.95-3.54C1.5 6.93-1.15 9.58.54 11.31c2.16 2.21 3.51 5 5.59 7.24 1 1.06 1.74 2.28 2.7 3.36a13.09 13.09 0 0 0 2.7 2.76 1.9 1.9 0 0 0 2.27-.29 35.34 35.34 0 0 0 3.25-4.09 21.72 21.72 0 0 0 1.53-1.94 15.3 15.3 0 0 1 1.12-1.64c1.17-1.33 2.24-2.71 3.3-4.15A12.5 12.5 0 0 0 25.3 8c.51-2.37-3.11-3.38-3.62-1z" fill="#81171d"/></svg>');
		}

	&-plus-round {
		width: svg-width(36.937/36.361);
		mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="33.19" height="30.05"><path d="M32.6 11.62a21.63 21.63 0 0 0-2.26-5.47A14.67 14.67 0 0 0 26.84 2C24-.08 20.37-.14 17 .09a1.23 1.23 0 0 0-.8.31 22.78 22.78 0 0 0-5.92.93A15.74 15.74 0 0 0 2 6.91C.05 9.65-.16 13.61.08 16.83a12 12 0 0 0 4.51 8.84 22.14 22.14 0 0 0 4.75 2.72 17 17 0 0 0 4.92 1.45 19.58 19.58 0 0 0 10.24-1.22 14.94 14.94 0 0 0 7.4-6.82 14.7 14.7 0 0 0 .7-10.18Zm-2.22 7.07A11.46 11.46 0 0 1 25 25.55a15.3 15.3 0 0 1-8.34 2 19.51 19.51 0 0 1-8.33-2.41 10 10 0 0 1-5.5-6.7 16.88 16.88 0 0 1 .53-8.83c1.12-2.87 4.46-4.91 7.29-5.8a19.75 19.75 0 0 1 5.05-1 34.74 34.74 0 0 1 5.58.3 1 1 0 0 0 1-.44 7 7 0 0 1 2.36.76c2.27 1.31 4 4.15 4.86 6.53a15 15 0 0 1 .88 8.73Z" class="cls-1" data-name="Pfad 285"/><path d="M25.24 14.59c-1.49 0-3-.09-4.45-.14s-2.83 0-4.24 0c.05-1.07.21-2.11.28-3.19.1-1.51.21-3 .41-4.52.09-.67-.64-1.23-1.25-1.24a1.27 1.27 0 0 0-1.24 1.24c-.2 1.52-.29 3-.41 4.52-.08 1-.23 2-.28 3.06-2.11-.17-4.22-.4-6.35-.4a1.25 1.25 0 0 0 0 2.49c2.15 0 4.26.23 6.39.4a21.34 21.34 0 0 1 0 2.77c-.13 1.34-.32 2.66-.43 4-.12 1.6 2.37 1.6 2.49 0 .1-1.33.34-2.65.43-4 .05-.86 0-1.76 0-2.64h4.21c1.4 0 3 .14 4.45.14a1.25 1.25 0 0 0 0-2.49Z" class="cls-1" data-name="Pfad 286"/></svg>');
	}
	
	&-lilie {
		width: svg-width(36.937/36.361);
		mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="36.937" height="36.361"><path d="M18.475-.002c.272 0 3-.075 4.121.7s.317 3.8.19 3.93c-.372.378 7.826.15 7.985.173s3.538 3.553 3.178 3.713c-1.384.615-11.085.977-11.334 1.113s-.731 5.684-.731 6.054c0 .338 7.123-5.136 10.75-5.3 2.481-.113 3.437 2.432 3.633 3.144a17.075 17.075 0 0 1 .62 6.185c-.108 1.543-1.153 7.6-4.372 10.241-.837.685-2.627 1.517-3.965.725a66.258 66.258 0 0 1-5.95-4.678c.862-.093 2.288.432 2.963-.028 1.023-.7 1.1-5.169 1.246-6.706.025-.257-3.4.862-4.01 1.292a4.4 4.4 0 0 0-1.605 2.058c-.217.812.176 2.031-.174 2.031h-5.087c-.349 0 .043-1.218-.174-2.031a4.394 4.394 0 0 0-1.6-2.058c-.612-.43-4.035-1.549-4.01-1.292.148 1.537.223 6.01 1.246 6.706.676.46 2.1-.064 2.963.028A66.193 66.193 0 0 1 8.4 30.68c-1.338.792-3.128-.04-3.965-.725C1.217 27.319.171 21.257.063 19.714a15.061 15.061 0 0 1 .607-6.185c.219-.714 1.166-3.256 3.646-3.144 3.628.165 10.75 5.639 10.75 5.3 0-.37-.482-5.918-.731-6.054S4.386 9.135 3 8.52c-.36-.16 3.02-3.69 3.179-3.713s8.356.2 7.985-.173c-.127-.129-.918-3.161.189-3.93s3.847-.706 4.122-.706" data-name="Pfad 169"/><path d="M18.475 25.648s-.3-.009 2.349-.01c.494 0 5.72 7.867 6.172 8.468.192.255-1.4.849-1.879.827-.873-.04-3.181-2.28-3.458-2.556s.424 3.333.225 3.571a14.262 14.262 0 0 1-6.817 0c-.2-.238.5-3.849.226-3.571s-2.586 2.516-3.458 2.556c-.482.021-2.071-.572-1.879-.827.451-.6 5.67-8.476 6.165-8.468 2.356 0 2.356.01 2.356.01" data-name="Pfad 170"/></svg>');
	}

    &-zelt {
        width: svg-width(800/581.85);
        mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="800" height="581.85" viewBox="0 0 512 372.384"><path d="M290.688 372.384L512 282.704 372.665 10.774 157.172 0zM127.747 200.619l34.423 135.225.804 3.238 100.314 29.724L137.907 19.142 0 290.805l67.982 20.138z"/></svg>');
    }
	
    &-info {
        width: svg-width(24/24);
        mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 17.75C12.4142 17.75 12.75 17.4142 12.75 17V11C12.75 10.5858 12.4142 10.25 12 10.25C11.5858 10.25 11.25 10.5858 11.25 11V17C11.25 17.4142 11.5858 17.75 12 17.75Z"></path> <path d="M12 7C12.5523 7 13 7.44772 13 8C13 8.55228 12.5523 9 12 9C11.4477 9 11 8.55228 11 8C11 7.44772 11.4477 7 12 7Z"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M1.25 12C1.25 6.06294 6.06294 1.25 12 1.25C17.9371 1.25 22.75 6.06294 22.75 12C22.75 17.9371 17.9371 22.75 12 22.75C6.06294 22.75 1.25 17.9371 1.25 12ZM12 2.75C6.89137 2.75 2.75 6.89137 2.75 12C2.75 17.1086 6.89137 21.25 12 21.25C17.1086 21.25 21.25 17.1086 21.25 12C21.25 6.89137 17.1086 2.75 12 2.75Z"></path></g></svg>');
    }

    &-message {
        width: svg-width(330.508/157.377);
        mask-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="330.508" height="157.377" viewBox="0 0 247.881 118.033" preserveAspectRatio="xMidYMid"><path d="M13.381.392c-9.5.6-12.4 1.4-12.6 3.3-.1.6-.3 2.2-.5 3.6-.3 2.7-.4 52.9-.1 59.7.1 2.4.6 4.3 1.1 4.3s.7.3.3.6c-1.1 1.1 1.4 6.1 3.6 7.2 1.5.7 20.2 1.3 56.2 1.6l138.2.6c2.8 0 3.5-.5 4.8-3.6 1.8-4.5 1.9-11.4.2-13.8-1.2-1.7-4.6-1.8-55.1-2l-53.8-.1-.2-27c-.1-14.9-.5-27.6-1-28.3-.4-.7-.2-1.2.5-1.2 3 0-2.7-4-6.5-4.5-5.6-.8-64-1.1-75.1-.4zm60.5 12.9c0 .3-6.3 4.7-14 9.9l-14 9.5-4.3-2.4c-5-2.8-24.7-16.3-24.7-17 0-.3 12.8-.5 28.5-.5s28.5.2 28.5.5zm9.5 25.5c0 13.2-.3 18.4-1.1 18.1-.6-.2-6.8-4.3-13.8-9l-12.6-8.5 5.5-3.8 13.3-9.5c4.2-3.2 7.9-5.8 8.2-5.8s.5 8.3.5 18.5zm-65.6-11.1c3.7 3 9.1 6.9 12 8.6 4.7 2.9 5.1 3.4 3.5 4.3-2.2 1.2-14.7 9.1-18.7 11.9-1.6 1.1-3 1.8-3.3 1.6-.4-.5-1-31.8-.6-31.8.2 0 3.4 2.4 7.1 5.4zm39.1 26.6l10.5 7h-17c-9.3 0-20.1.3-24 .6l-7 .6 10.1-6.3 12-7.6c3.2-2 4.5-1.5 15.4 5.7zm139.5-37.4c-4.4 2.2-7.5 5.5-7.5 7.7 0 2 6.5 11 19.9 27.5 4.2 5.2 8.9 11.3 10.4 13.7 2.7 4.1 2.8 4.4 1.3 7.2-.8 1.6-8.9 10.2-18 19.1-9.1 8.8-16.6 16.5-16.6 17.1 0 1 9.6 7.6 12.7 8.8.8.3 2.8-1.1 4.7-3.3 1.8-2.2 6-5.9 9.2-8.4 6.6-5.1 35.4-33.6 35.4-35.1 0-.6-3.3-4.7-7.2-9.2-13.9-15.8-29.3-34-34.1-40.3-2.7-3.5-5.4-6.4-6-6.4-.7 0-2.5.7-4.2 1.6z"/></svg>');
    }
}